html {
    background-color: #1B1B1B;
    color: #fff;
    font-family: 'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 2em;
    font-weight: 400;
}
body {
    background-color: #1B1B1B;
}
#ava {
    padding: 0;
}
#ava img {
    border-radius: 0.8em 1.5em 1.5em 0.8em;
}
.msg {
    padding: 1em 0;
    width: 30%;
    min-width: 400px;
    background-color: #3C3C3C;
    border-radius: 0.8em 1.5em 1.5em 0.8em;
    text-align: left;
    transition: all 0.2s;
    margin: 1.5em auto;
    opacity: 0;
}
.msg:last-of-type {
    border-radius: 0.8em 1.5em 1.5em 0;
}
@media (max-aspect-ratio: 3/4) {
    html {
        font-size: 30px;
    }
    .msg {
        padding: 1em 0;
        width: 90%;
        min-width: 400px;
        background-color: #3C3C3C;
        border-radius: 0.8em 1.5em 1.5em 0;
        text-align: left;
        transition: all 0.2s;
        margin: 1.5em auto;
        opacity: 0;
    }
}
#poll, #export, #pick-self {
    border-radius: 0.8em 1.5em 1.5em 0.8em;
}
.poll-header {
    font-weight: 700;
    margin-bottom: 0.5em;
    padding: 0 1em;
}
a, span {
    color: rgb(255, 251, 0);
    text-decoration: none;
    cursor: pointer;
}
a:hover, span:hover {
    text-decoration: underline;
}
.sub {
    text-align: left;
    padding: 0 1em;
}
.poll-meta {
    color: #aaa;
    font-weight: 100;
    padding: 0 1em;
}
.poll-op {
    padding: 0.7em 1em !important;
    cursor: pointer;
    user-select: none;
    clear: both;
    transition: all 0.1s;
}
#rating div {
    padding: 0 1em;
}
.poll-text {
}
.circle {
    float: left;
    border-radius: 50%;
    border: #535353 solid 3px;
    padding: 0 !important;
    margin: 0 1em 0 0;
    width: 1em;
    height: 1em;
    transition: all 0.1s;
}
.poll-op:hover .circle {
    border-color: #727272;
}
.clicked-op {
    background-color: #535353;
}